/**


*/

/* basic calendar styling */
table.calendar-table th {
	min-width: 3eM;
}

table.calendar-table td {
	border: 1px solid black;
	vertical-align: top;
}

.calendar-day-number {
	display: block;
	background-color: khaki;
}

.calendar-day-content {
	min-height: 2eM;
	text-align: center;
}

/*******************/
/* calendar-sheduler styling */
.csd-count {
	text-decoration: none;
}

.csd-count-empty {
	display: none;	
}

.csd-count-nonempty {
	display: block;	
	font-size: 150%;
}

.csd-items{
	list-style: none;
	display: block;
	padding: 0%;
	margin: 5%;
}

.csd-item {
	display: block;
}

/*******************/
/* other fields */
#loading {
	padding: 5%;

}


/*******************/
/* other classes */


.hidden {
	display: none;
}

#overlay-shadow {
	background-color: gray;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 10;
}

#overlay-content {
	background-color: white;
	position: fixed;
	left: 10%;
	top: 10%;
	max-width: 80%;
	z-index: 11;
}
